.clock-display  {
    .clock-meridian,
    .weekdays-block .day-block {
        opacity: 0.3;
        list-style-type: none;

        &.active {
            opacity: 1;
            font-weight: bold;
        }
    }

    .weekdays-block {
        > .day-block {
            padding: 0 10px;
            display: inline-block;
        }
    }
}