<div id="clock" class="light">
    <div class="display clock-display">
        <div class="weekdays">
            <ul class="weekdays-block">
                <li class="day-block" *ngFor="let day of days" [class.active]="today == day">{{day}}</li>
            </ul>
        </div>
        <div class="ampm">
            <ul class="clock-meridian-block">
                <li class="clock-meridian" *ngFor="let m of ['AM', 'PM']" [class.active]="meridian == m">{{m}}</li>
            </ul>
        </div>
        <div class="alarm"></div>
        <div class="digits">
            <clock-digit *ngFor="let dName of timeFormatList" [digitName]="dName" [isDot]="dName === 'dots'"></clock-digit>
        </div>
    </div>
</div>