<div id="clock" class="light">
    <div class="display">
        <div class="weekdays"></div>
        <div class="ampm"></div>
        <div class="alarm"></div>
        <div class="digits">
            <app-digit [digit]="'zero'" [isDot]=""></app-digit>
            <app-digit [digit]="'two'" [isDot]=""></app-digit>
            <app-digit [isDot]="true"></app-digit>
            <app-digit [digit]="'zero'" [isDot]=""></app-digit>
            <app-digit [digit]="'two'" [isDot]=""></app-digit>
            <app-digit [isDot]="true"></app-digit>
            <app-digit [digit]="'zero'" [isDot]=""></app-digit>
            <app-digit [digit]="'two'" [isDot]=""></app-digit>
        </div>
    </div>
</div>